.btn {
	display: flex;
	align-items: center;
	gap: 8px;
	background-image: linear-gradient(to right, #9949FF, #5B6CFF);
	color: white;
	font-weight: 600;
	font-size: 20px;
	border: none;
	height: 56px;
	border-radius: 28px;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	padding: 0 24px;

	&_small {
		height: 40px;
		width: 100%;
		justify-content: center;
	}

	&_secondary {		

		&::before {
			content: '';
			height: 54px;
			width: calc(100% - 2px);
			border-radius: 28px;
			background-color: #101010;
			position: absolute;
			top: 1px;
			left: 1px;
			z-index: 1;
		}

		span {
			position: relative;
			z-index: 2;
		}
	}

	&_wide {
		width: 100%;
		justify-content: center;
	}
}