.card-tabs {
	display: flex;
	gap: 32px;
	position: relative;
	border-bottom: 1px solid rgba(173, 182, 255, 0.15);

	@media (max-width: 768px) {
		gap: 24px;
	}

	&__item {
		display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
		font-size: 16px;
    text-decoration: none;
    color: white;
		cursor: pointer;
    transition: all .1s;
		padding-bottom: 13px;

		@media (max-width: 768px) {
			font-size: 16px;
		}

    &:hover {
      color: var(--hover-color);
    }

    &.active {
      font-weight: 700;
      background: linear-gradient(267.17deg, #9949FF 0%, #5B6CFF 110.14%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
			cursor: auto;

      &::after {
        content: '';
        width: 100%;
        height: 3px;
        background: linear-gradient(267.17deg, #9949FF 0%, #5B6CFF 110.14%);
        margin-bottom: -13px;
      }
    }
	}
}