.governance {

	&__content {
		width: 100%;		
	}

	&__table-container {
		border: 1px solid rgba(173, 182, 255, 0.15);
		border-radius: 16px;		
		overflow-x: scroll;
		width: 100%;
		background-color: #101010;
		padding: 32px;

		@media (max-width: 768px) {
			width: var(--table-cnt-width);
		}
	}
	
	&__table {		
		border-collapse: collapse;
		width: 100%;		

		@media (max-width: 768px) {
			width: 1100px;
		}		

		thead {								
			th {
				font-weight: 500;
				font-size: 16px;
				color: white;
				opacity: .7;
				border-bottom: 1px solid rgba(173, 182, 255, 0.15);				
				padding: 20px 0;			
				
				@media (max-width: 1440px) {
					font-size: 1.11vw;
				}

				@media (max-width: 768px) {
					font-size: 16px;
				}
			}
		}

		tr {
			td {
				height: 70px;
				font-size: 16px;
				font-weight: 500;
				color: white;

				@media (max-width: 1440px) {
					font-size: 1.11vw;
				}

				@media (max-width: 768px) {
					font-size: 16px;
				}
			}

			&:not(:last-of-type) td {
				border-bottom: 1px solid rgba(173, 182, 255, 0.15);
			}
		}

		&-num {
			width: 45px;
			text-align: left;
		}

		&-title {
			width: 20%;
			text-align: left;
		}

		&-voted {
			width: 12%;
			text-align: right;
		}

		&-status {
			width: 12%;
			text-align: center;
		}

		&-start {
			width: 80px;
			text-align: right;
		}

		&-end {
			width: 10%;
			text-align: right;
		}

		&-snapshot {
			width: 10%;
			text-align: right;			
		}

		&-forum {
			width: 15.4%;
			text-align: right;
		}

		&-voting {
			width: 10%;
			text-align: right;
		}

		&-snapshot,
		&-forum,
		&-voting {
			a {				
				width: 100%;
				text-align: right;
				justify-content: flex-end;
			}
		}
	}

	&__table-scale {
		display: flex;
		justify-content: space-between;
		width: 100%;		
		font-weight: 700;
		margin-bottom: 8px;
	}

	&__table-progress {
		height: 4px;
		width: 100%;
		border-radius: 2px;
		background-color: #CA3B3B;

		div {
			background-color: #69C65A;
			height: 4px;			
			border-radius: 2px;
		}
	}	

	&__table-link {
		display: flex;
		align-items: center;		
		color: white;
		text-decoration: none;		

		img {
			width: 16px;
			margin-left: 6px;

			@media (max-width: 1440px) {
				width: 1.11vw;
			}

			@media (max-width: 768px) {
				width: 16px;
			}
		}
	}
}