.hide-block-button {
	display: flex;
	align-items: center;
	gap: 7px;
	font-weight: 500;
	font-size: 16px;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(267.17deg, #9949FF 0%, #5B6CFF 110.14%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	border: none;
	cursor: pointer;	

	&::after {
		content: '';
		width: 11px;
		height: 7px;
		background: url('../../img/collapse-arrow.svg') no-repeat center;
		background-size: contain;
		transition: all .2s;
	}

	&.active::after {
		transform: rotate(.5turn);
	}

	&.active + .hidden-block {
		display: flex;
	}
}