.main-menu {
	
	ul {
		display: flex;
		flex-direction: column;
		gap: 48px;
		padding: 0;
		margin: 0 0 50px;
	}

	&_mobile ul {
		align-items: center;
		gap: 2.8vh;
		transform: translateY(50px);
		transition: all .5s;
		padding: 35px 0 42px;
		margin: 0;
	}

	.mobile-menu.active &_mobile ul {
		transform: translateY(0);
	}

	&__item {
		font-size: 20px;
		font-weight: 500;		

		a {
			color: white;
			text-decoration: none;
			transition: all .1s;

			&:hover {
				color: var(--hover-color);
			}
		}

		&.active {
			display: flex;
			align-items: center;
			gap: 10px;
			font-weight: 700;

			&::before {
				content: '';
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: linear-gradient(267.17deg, #9949FF 0%, #5B6CFF 110.14%), linear-gradient(267.17deg, #8349FF 0%, #FF5BDB 110.14%);
			}
			
			a {
				background: linear-gradient(267deg,#9949FF 0%,#5B6CFF 110.14%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}		
	}

	&_mobile &__item.active {
		&::before {
			display: none;
		}
	}
}