@font-face {
	font-family: 'EuclidCircularB';
	font-display: swap;
	src: url('../fonts/EuclidCircularB-Medium.woff2') format('woff2'), 
		 url('../fonts/EuclidCircularB-Medium.woff') format('woff'),
		 url('../fonts/EuclidCircularB-Medium.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'EuclidCircularB';
	font-display: swap;
	src: url('../fonts/EuclidCircularB-Bold.woff2') format('woff2'), 
		 url('../fonts/EuclidCircularB-Bold.woff') format('woff'),
		 url('../fonts/EuclidCircularB-Bold.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'EuclidCircularB';
	font-display: swap;
	src: url('../fonts/EuclidCircularB-Regular.woff2') format('woff2'), 
		 url('../fonts/EuclidCircularB-Regular.woff') format('woff'),
		 url('../fonts/EuclidCircularB-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'EuclidCircularB';
	font-display: swap;
	src: url('../fonts/EuclidCircularB-SemiBold.woff2') format('woff2'), 
		 url('../fonts/EuclidCircularB-SemiBold.woff') format('woff'),
		 url('../fonts/EuclidCircularB-SemiBold.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
}
